body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 8rem;
    padding-top: 8rem;

}

.container-home-contacto {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border: 0.1rem solid black;
    padding: 30px;
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 1rem;
    margin: 0rem;
    width: 100%;
    background-color: plum;
    box-sizing: border-box;

}

nav a {
    color: black;
    text-decoration: none;
}

.container-receta-uno,
.container-receta-dos {
    border: 0.125rem solid black;
    border-radius: 3rem 0 3rem 0;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

ul,
ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 0.3rem;
}


.container-imagen-receta,
.conteiner-imagen-receta {
    text-align: center;
    margin-bottom: 1rem;
}

.container-imagen-receta img,
.conteiner-imagen-receta img {
    width: 60%;
    height: auto;
    border-radius: 0.5rem;
}

.container-footer {
    position: fixed;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: Arial;
    font-size: 1rem;
    width: 100%;
    background-color: plum;
    box-sizing: border-box;
    bottom: 0;
    left: 0;

}

.container-contacto {
    border: 0.1rem solid black;
    border-radius: 1rem;
    padding: 4rem;
    text-align: left;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    width: 80%;


}

.campo {
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

.campo input {
    width: 9rem;
    padding: 0.2rem;
    border: 0.1rem solid black;
    border-radius: 0.2;
}

.campo textarea {
    width: 10rem;
    padding: 1rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}

.campo label {
    width: 4rem;
    text-align: left;
}


.button {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.button-enviar {
    padding: 0.5rem 3rem;
    background-color: skyblue;
    border: skyblue;
    border-radius: 0.2rem;
    cursor: pointer;
}

.button-cancelar {
    padding: 0.5rem 3rem;
    background-color: lightcoral;
    border: lightcoral;
    border-radius: 0.2rem;

}